@import url(https://fonts.googleapis.com/css?family=Niramit:300,300i,400,400i,500,500i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
body{font-family:'Montserrat',sans-serif;font-weight:400;
font-style:normal;font-size:17px;line-height:1.7;color:#4f4e4e;
letter-spacing:1px}
h1,h2,h3,h4,h5,h6{font-weight:400;margin-top:0;margin-bottom:0;text-transform:capitalize;letter-spacing:2px}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:inherit}
h1{font-size:60px;font-style:normal;line-height:70px;font-weight:700;text-transform:capitalize;color:#1c2045;letter-spacing:0}
h2{font-size:38px;font-style:normal;line-height:46px;font-weight:600;color:#1c2045;text-transform:capitalize;margin-bottom:10px;position:relative}
h3{font-size:30px;font-style:normal;line-height:36px;font-weight:500}
h4{font-size:24px;font-style:normal;margin-bottom:10px;font-weight:500;line-height:30px;color:#1c2045}
h5{font-size:20px;font-style:normal;margin-bottom:10px;font-weight:500;line-height:26px;color:#1c2045}
h6{font-size:18px;font-style:normal;line-height:24px;margin-bottom:10px;color:#1c2045}
ul{margin:0;padding:0}u{text-decoration-style:wavy}p{line-height:1.9}
.lead{font-weight:400;font-size:16px;line-height:30px}
.o-hidden{overflow:hidden}.img-center{display:inline-block!important;max-width:100%}
.pos-r{position:relative}
.z-index-0{z-index:0;position:relative}
.z-index-1{z-index:1;position:relative}h1 span{color:#ffb315}section{padding:80px 0}
.section-title{margin-bottom:50px}.section-title p{font-size:16px}.align-item-middle{display:-webkit-flex;-webkit-align-items:center;display:flex;align-items:center}
.align-item-middle>div{width:100%}.font-w-3{font-weight:300}.font-w-4{font-weight:400}
.font-w-5{font-weight:500}.font-w-6{font-weight:600}.font-w-7{font-weight:700}.font-w-8{font-weight:800}
.font-w-9{font-weight:900}.line-h-2{line-height:1.6}.line-h-3{line-height:1.7}.line-h-4{line-height:1.8}
.line-h-5{line-height:1.9}.letter-space-1{letter-spacing:5px}.letter-space-2{letter-spacing:10px}
.letter-space-3{letter-spacing:15px}.text-theme{color:#ffb315}.text-black{color:#111121!important}
.text-grey{color:#999}.text-rgba{color:rgba(255,255,255,.8)}.white-bg{background-color:#ffffff!important}
.dark-bg{background-color:#141414}.grey-bg{background-color:#f3f6ff}.theme-bg{background-color:#ffb315}
.transparent-bg{background-color:inherit!important}
.radius{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.radius-0{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.radius-1{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
.radius-2{-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px}
.radius-3{-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px}
.radius-4{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.fullscreen-banner{position:relative}[data-bg-img]{background-size:cover;background-position:center center;background-repeat:no-repeat}
.align-center{position:absolute;top:50%;width:100%;z-index:9}
.align-end{position:absolute;bottom:0;width:100%;z-index:9}.bnr-img2{position:absolute;top:50%;left:0}
.banner-2 .mouse-parallax{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1}
.fullscreen-banner .owl-carousel,.fullscreen-banner .owl-stage-outer,.fullscreen-banner .owl-stage,.fullscreen-banner .owl-item{height:100%}
.hero-bg{left:-50%;position:absolute;top:-45%}.banner-4 .mouse-parallax{z-index:9}
.bg-cover{background-size:cover}.bg-contain{background-size:contain}.bg-pos-l{background-position:left}
.bg-pos-r{background-position:right}.bg-pos-rt{background-position:right top}
.bg-pos-lt{background-position:left top}.bg-pos-rb{background-position:right bottom}
.bg-pos-lb{background-position:left bottom}.countdown{margin:50px 0;display:table;width:100%}
.countdown>li{padding:0 30px;font-weight:700;text-align:center;border-right:1px dashed rgba(0,0,0,.1);list-style-type:none;display:table-cell;width:auto}
.countdown>li:last-child{border-right:none}.countdown>li span{font-size:70px;font-weight:700;line-height:60px;margin-bottom:20px;display:inline-block}
.countdown>li p{font-size:20px;text-transform:uppercase;line-height:30px;margin-bottom:0;color:#ffb315}
.dark-bg .countdown>li{border-color:rgba(255,255,255,.2)}
.coming-soon .subscribe-form{margin:0 auto}.terms-and-conditions p{margin-bottom:25px}
.terms-and-conditions ul.list{margin-bottom:20px;display:block}
.terms-and-conditions ul.list li i{padding-right:12px;font-size:15px}
.privacy-policy p{margin-bottom:25px}.privacy-policy ul.list{margin-bottom:20px;display:block}
.privacy-policy ul.list li i{padding-right:12px;font-size:15px}
.cases-item{overflow:hidden;position:relative;text-align:center}
.cases-item .cases-description{background:#fff;padding:20px}
.cases-item .cases-description h5{margin:0 0 15px;text-transform:capitalize;font-weight:500}
.cases-item img{width:100%}.cases-item span{font-weight:500;display:block}
.owl-carousel .cases-item{margin:30px 10px}.work-process-inner{position:relative}
.step-num{background:rgb(255,120,16);background:linear-gradient(90deg,rgba(255,120,16,1) 0%,rgba(255,94,44,1) 50%);border:5px solid #fff;border-radius:50%;color:#fff;font-size:30px;font-weight:700;height:80px;line-height:75px;position:absolute;right:-40px;top:-40px;width:80px;text-align:center}
.work-process-inner .work-img{border:2px dashed #e2dfdf;border-radius:10px;display:inline-block;width:230px;height:250px;line-height:250px;margin:40px 0;position:relative}
.work-process.style-2 .work-process-inner{padding-left:80px}
.work-process.style-2 .step-num{right:inherit;left:0;top:0;border:none;width:60px;height:60px;line-height:60px;font-size:24px}
.theme-bg .work-process-inner,.theme-bg .work-process-inner h4{color:#fff}
.clients-logo{background:#fff;border:1px solid #ebebeb;margin-right:-1px;margin-top:-1px;padding:20px 10px;width:calc(100% / 4)}
.sidebar-links li a{color:#2c2c2c;border-bottom:1px dashed #ddd;padding:10px 0;display:block;font-size:15px;font-weight:600;position:relative;text-transform:uppercase}
.sidebar-links li.active a,.sidebar-links li a:hover{color:#ffb315}.sidebar-links li:first-child a{padding-top:0}.sidebar-links li:last-child a{padding-bottom:0;border-bottom:none}
.portfolio-meta li{position:relative;padding-left:50px}.portfolio-meta li i{position:absolute;left:0;top:0;color:#ffb315;font-size:30px}
.portfolio-meta li span{color:#111121;display:block;font-weight:700;text-transform:uppercase;margin-bottom:7px}
.theme-bg .portfolio-meta li,.theme-bg .portfolio-meta li i,.theme-bg .portfolio-meta li span{color:#fff}
.contact-info li{padding-left:50px;position:relative}.contact-info li i{position:absolute;left:0;top:0;line-height:24px;font-size:30px;color:#ffb315;text-align:center}
.contact-info li span{font-size:16px;color:#111121;font-weight:700;text-transform:uppercase;display:block;margin-bottom:8px}.contact-info li p{margin-bottom:0;line-height:24px}.contact-info li a{color:#111121}.contact-info li a:hover{color:#ffb315}.info-inner{background:#fff;padding:50px 30px}.info-inner ul li{padding-left:0}.form-group{margin-bottom:20px;position:relative}label{font-size:14px;color:#333}.form-control{height:50px;border-radius:5px;font-size:13px;color:#111121;background:#fff;border:1px solid transparent}.theme-bg .form-control .dark-bg .form-control{background:none;border:5px solid rgba(255,255,255,.1)}.dark-bg .form-control,.theme-bg .form-control{color:#fff}.grey-bg .form-control{background:#fff}textarea.form-control{height:150px;border-radius:5px}.form-control:focus{box-shadow:none;background:none;border-color:#ffb315}.theme-bg .form-control:focus{border-color:#ffb315}select.form-control{-moz-appearance:none;-webkit-appearance:none;appearance:none;height:50px!important}#map{width:100%;height:100%}iframe{width:100%;border:none;pointer-events:auto}.iframe-h{height:500px!important}.iframe-h-2{height:600px!important}.help-block.with-errors{position:absolute;color:red;right:15px;font-size:10px;line-height:14px}.form-control::-webkit-input-placeholder{color:#111121}.form-control::-moz-placeholder{color:#111121}.form-control:-ms-input-placeholder{color:#111121}.form-control:-moz-placeholder{color:#111121}.dark-bg .form-control::-webkit-input-placeholder,.theme-bg .form-control::-webkit-input-placeholder{color:#fff}.dark-bg .form-control::-moz-placeholder,.theme-bg .form-control::-moz-placeholder{color:#fff}.dark-bg .form-control:-ms-input-placeholder,.theme-bg .form-control:-ms-input-placeholder{color:#fff}.dark-bg .form-control:-moz-placeholder,.theme-bg .form-control:-moz-placeholder{color:#fff}.video-btn{position:relative;display:inline-block}.video-btn .btn-play{font-size:30px;background:#ffb315;color:#fff;line-height:50px;width:70px;height:70px;border:10px solid rgba(0,0,0,.1);-webkit-border-radius:100%;border-radius:100%;text-align:center;cursor:pointer;display:inline-block;-webkit-transition:.15s ease-in-out;transition:.15s ease-in-out;-webkit-transition-property:color,background,border-color;transition-property:color,background,border-color}.video-btn-pos{position:absolute;position:absolute;left:50%;top:50%;width:auto!important;z-index:99}.theme-bg .video-btn .btn-play,.dark-bg .video-btn .btn-play{background:#fff;border-color:#ddd;color:#ffb315}.html5-video{height:100%;left:0;opacity:1;overflow:hidden;position:absolute;top:0;width:100%;z-index:-2}.html5-video video{width:100%}.play-btn span{position:relative;text-transform:uppercase;color:#111121;font-weight:500;padding-right:70px;margin-right:20px}.play-btn span:before{background:#ffb315;width:50px;height:2px;content:"";position:absolute;right:0;top:50%;margin-top:-1px}.img-side img{max-width:100%}.img-side.img-right{right:0}.img-side.img-left{left:0}.img-side{padding:0;position:absolute!important;top:0;height:100%;overflow:hidden;z-index:9}.image-column{position:absolute;left:0;top:50%}.image-column.right{right:0;left:inherit}.error-page h1{font-size:300px;line-height:300px;letter-spacing:15px;color:#111121;margin-bottom:20px}.list-icon li{position:relative;padding-left:40px}.list-icon li i{position:absolute;left:0;top:0;color:#ffb315;font-size:30px;line-height:30px}.list-icon-2 li{padding-left:20px;position:relative}.list-icon-2 li:before{content:"";background:#ffb315;position:absolute;top:8px;left:0;width:10px;height:2px;border-radius:4px}.custom-li{display:inline-block}.custom-li li{float:left;margin-bottom:15px;width:calc(100% / 2)}.list-icon-3 li i{color:#ffb315;height:35px;width:35px;line-height:35px;border:1px solid #ece9fa;text-align:center;border-radius:50%}.pattern-3{position:absolute;left:50%;top:60%}.info-img:before{position:absolute;left:0;top:0;height:330px;width:100%;content:"";background-image:url(../images/pattern/07.png);z-index:-1}.round-animation{background-image:linear-gradient(120deg,#ff156a 0%,#631470 100%);border-radius:42% 58% 70% 30% / 45% 45% 55% 55%;width:100%;height:100%;animation:morph 10s linear infinite;transform-style:preserve-3d;outline:1px solid transparent;will-change:border-radius}.round-animation:before,.round-animation:after{content:'';width:100%;height:100%;display:block;position:absolute;left:0;top:0;border-radius:42% 58% 70% 30% / 45% 45% 55% 55%;will-change:border-radius,transform,opacity;animation-delay:200ms;background-image:linear-gradient(120deg,rgba(255,94,44,.55) 0%,rgba(255,120,16,.89) 100%)}.round-animation:before{animation:morph 3s linear infinite;opacity:.21;animation-duration:1.5s}.round-animation img{position:relative;z-index:99}.insideText{color:rgba(0,0,0,.03);font-size:200px;font-weight:900;left:50%;line-height:200px;overflow:hidden;position:absolute;text-align:center;text-transform:uppercase;top:50%;white-space:nowrap;width:100%;z-index:0}.boxed-view{padding:20px 50px 50px}.seo-img img{position:relative;-webkit-animation:seo 2s linear infinite;animation:seo 2s linear infinite}@-webkit-keyframes seo{0%{left:20px;bottom:20px}25%{left:-20px;bottom:20px}50%{left:-20px;bottom:0}75%{left:0;bottom:0}100%{left:20px;bottom:20px}}@keyframes seo{0%{left:20px;bottom:20px}25%{left:-20px;bottom:20px}50%{left:-20px;bottom:0}75%{left:0;bottom:0}100%{left:20px;bottom:20px}}.mr-20,.mx-20{margin-right:20px!important}.twhite{color:#fff!important}.bg-contain .team-member.active .team-description p{color:#555;font-weight:300;font-style:italic;line-height:22px}.teamimages .popup-gallery .portfolio-item .portfolio-title{font-size:12px;font-weight:500}.teamimages .popup-gallery .portfolio-item p{color:#fff;font-weight:300;font-style:italic;line-height:22px}.w-100{width:100%!important}.bold5{font-weight:500}.bold6{font-weight:600}.bold7{font-weight:700}.bold8{font-weight:800}.bold9{font-weight:900}.italic{font-style:italic!important}.sidebar .projectdisc{padding:10px 20px 10px 0}.sidebar .projectdisc a span{margin-right:10px;padding-right:30px;min-width:260px}.sidebar .projectdisc a span::before{width:30px}.sidebar .projectdisc a img.img-fluid.radius-4{width:40px}.seotesti .testimonial-content p{min-height:80px}.subhead{background-color:#f1f1f1;padding:0!important;text-align:center!important;margin:10px 0 3px 0!important;border:1px solid #ccc;font-weight:600;letter-spacing:0;display:inline-block!important}.index.page-content .featured-desc p{font-size:13px;letter-spacing:0;min-height:145px}.openings .featured-item.style-3 p{min-height:auto}.openings .featured-item.style-3 form{display:inline-block;margin-top:20px}.openings .featured-item.style-3 form input[type="file"]{border:1px solid rgba(255,119,16,.2);width:100%;background:rgba(255,119,16,.1)}#emailsuberrmsg{color: red; font-weight: bolder; display: none;}
#emailsubsucmsg{color: darkgreen; font-weight: bolder; display: none;}
ul.list-unstyled li a:hover{letter-spacing: .5px;} 
.sk{border: 2px solid #ffb315;border-radius: 30px;margin-left: 2%;	}
.box1 {
    /* See "NOTE 3" */
    position:relative;
    z-index:1;
    width:100%;
    padding:20px 20px 0px 20px;
    margin:20px auto 0px auto;
     /*border: 1px solid rgb(200, 200, 200);*/
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;*/
	background:  none;
        border-radius: 4px;
}

.box1 h3 {
    position:relative;
    padding:10px 30px;
    margin:0 -30px 20px;
    font-size:28px;
    line-height:32px;
    font-weight:bold;
    text-align:center;
    color:#fff;
    background:#cc0000;
    /* css3 extras */
    text-shadow:0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
       -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
            box-shadow:0 1px 1px rgba(0,0,0,0.2);
    /* See "NOTE 1" */
    zoom:1;
}

.box1 h3:before,
.box1 h3:after {
    content:"";
    position:absolute;
    /* See "NOTE 2" */
    z-index:-1;
    top:100%;
    left:0;
    border-width:0 10px 10px 0;
    border-style:solid;
    border-color:transparent maroon;
}

.box1 h3:after {
    left:auto;
    right:0;
    border-width:0 0 10px 10px;
}






.box1 h4 {
    position:relative;
    padding:10px 30px 10px 30px;
    margin:0 -30px 0px;
    font-size:28px;
    line-height:32px;
    font-weight:450;
    text-align:center;
    color:#000;
    background:#ffbf00;
    /* css3 extras */
    text-shadow:0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
       -moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
            box-shadow:0 1px 1px rgba(0,0,0,0.2);
    /* See "NOTE 1" */
    zoom:1;
}

.box1 h4:before,
.box1 h4:after {
    content:"";
    position:absolute;
    /* See "NOTE 2" */
    z-index:-1;
    top:100%;
    left:0;
    border-width:0 10px 10px 0;
    border-style:solid;
    border-color:transparent #946601;
}

.box1 h4:after {
    left:auto;
    right:0;
    border-width:0 0 10px 10px;
}

.ribbon5 {
  display: block;
  width: calc(100% + 20px);
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-left: -10px;
  margin-right: -10px;
  background: #EDBA19;
  position: relative;
  top: 20px;
}
.ribbon5:before, .ribbon5:after {
  content: "";
  position: absolute;
}
.ribbon5:before {
  height: 0;
  width: 0;
  bottom: -10px;
  left: 0;
  border-top: 10px solid #cd8d11;
  border-left: 10px solid transparent;
}
.ribbon5:after {
  height: 0;
  width: 0;
  right: 0;
  bottom: -10px;
  border-top: 10px solid #cd8d11;
  border-right: 10px solid transparent;
}
.wrap {
  width: 100%;
  height: 188px;
  position: absolute;
  top: -8px;
  left: 8px;
  overflow: hidden;
}
.wrap:before, .wrap:after {
  content: ""; 
  position: absolute;
}
.wrap:before {
  width: 40px;
  height: 8px;
  right: 100px;
  background: #4D6530;
  border-radius: 8px 8px 0px 0px;
}
.wrap:after {
  width: 8px;
  height: 40px;
  right: 0px;
  top: 100px;
  background: #4D6530;
  border-radius: 0px 8px 8px 0px;
}

/*********************** Demo - 14 *******************/
.box14{position:relative}
.box15,.box17,.box18{box-shadow:0 0 5px #7e7d7d;text-align:center}
.box14:before{content:"";width:100%;height:100%;background:rgba(0,0,0,.5);position:absolute;top:0;left:0;opacity:0;transition:all .35s ease 0s}
.box14:hover:before{opacity:1}
.box14 img{width:100%;height:auto}
.box14 .box-content{width:90%;height:90%;position:absolute;top:5%;left:5%}
.box14 .box-content:after,.box14 .box-content:before{content:"";position:absolute;top:0;left:0;bottom:0;right:0;opacity:0;transition:all .7s ease 0s}
.box14 .box-content:before{border-bottom:1px solid rgba(255,255,255,.5);border-top:1px solid rgba(255,255,255,.5);transform:scale(0,1);transform-origin:0 0 0}
.box14 .box-content:after{border-left:1px solid rgba(255,255,255,.5);border-right:1px solid rgba(255,255,255,.5);transform:scale(1,0);transform-origin:100% 0 0}
.box14:hover .box-content:after,.box14:hover .box-content:before{opacity:1;transform:scale(1);transition-delay:.15s}
.box14 .title{font-size:21px;font-weight:700;color:#fff;margin:15px 0;opacity:0;transform:translate3d(0,-50px,0);transition:transform .5s ease 0s}
.box14:hover .title{opacity:1;transform:translate3d(0,0,0)}
.box14 .post{font-size:14px;color:#fff;padding:10px;background:#d79719;opacity:0;border-radius:0 19px;transform:translate3d(0,-50px,0);transition:all .7s ease 0s}
.box14 .icon,.box15 .icon{padding:0;list-style:none}
.box14:hover .post{opacity:1;transform:translate3d(0,0,0);transition-delay:.15s}
.box14 .icon{width:100%;margin:0;position:absolute;bottom:-10px;left:70%;opacity:0;z-index:1;transition:all .7s ease 0s}
.box14:hover .icon{bottom:20px;opacity:1;transition-delay:.15s}
.box14 .icon li a{display:block;width:40px;height:40px;line-height:40px;border:1px solid #fff;border-radius:0 16px;font-size:14px;color:#fff;margin-right:5px;transition:all .4s ease 0s}
.box14 .icon li a:hover{background:#d79719;border-color:#d79719}
@media only screen and (max-width:990px){.box14{margin-bottom:30px}
}

.img-fluid1 {
    max-height: 100%;
    max-width: 100%;
    height: 17.5rem;
    width: 25rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0px 5px;
}

div#header-wrap {
  background: #b6afbd;
  padding: 0;
}
nav.navbar.navbar-expand-lg {
  padding: 0 0 !important;
}